<header class="flex shadow">
    <button class="btn-menu" (click)="onClickOpenMenu()">
        <i class='bx bx-menu' ></i>
    </button>
    <div class="flex top-bar-right">
        <i class='bx bx-bell'></i>

        <div class="flex user">
            <span class="user-name">
                Alexander
            </span>
            <span class="user-image">
                <img src="https://htmlstream.com/preview/unify-v2.6/assets/img-temp/400x450/img5.jpg" alt="user-profile">
            </span>
            <!-- <i class='bx bx-chevron-down'></i> -->
        </div>
    </div>
</header>
