<section class="top flex">
    <div class="left flex">
        <form class="flex search-form">
            <input class="primary-input search-input" placeholder="Buscar" type="search" aria-label="Search">
            <button class="primary-button search-button"><i class='bx bx-search-alt-2'></i></button>
        </form>
        <button class="secondary-button filter-button button-icon" (click)="openDialog()"><i class='bx bx-filter-alt'></i>Filter</button>
    </div>
    <div class="right">
        <button class="primary-button add-button button-icon"><i class='bx bx-plus'></i>Add</button>
    </div>
</section>
<section class="products-container">
    <app-card-product-editable [product]="product"></app-card-product-editable>

</section>