<app-card class="card">
    <app-card-header>
        <h2 class="card-component-title">Classic T-shirt</h2>
        <h3 class="card-component-subtitle">T-shirt</h3>
        <!-- <button class="button-dot"><i class='bx bx-dots-vertical-rounded'></i></button> -->
        <app-dropdown placeholder="placeholder" type="dot">
            <app-dropdown-option type="dot">weekly</app-dropdown-option>
            <app-dropdown-option type="dot">monthly</app-dropdown-option>
            <app-dropdown-option type="dot">yearly</app-dropdown-option>
        </app-dropdown>
    </app-card-header>

    <div class="product-image">
        <div class="discount">-17%</div>
        <img src="https://i.pinimg.com/originals/f7/1c/5c/f71c5c1e89dbb27a7e840b6fb60932eb.png" alt="t-shirt">
    </div>

    <div class="colors-container flex">
        <div class="color flex">
            <div class="color-circle"></div>
            <span class="color-name">Azul</span>
        </div>
        <div class="color flex">
            <div class="color-circle"></div>
            <span class="color-name">Verde</span>
        </div>
        <div class="color flex">
            <div class="color-circle"></div>
            <span class="color-name">Naranja</span>
        </div>
    </div>

    <div class="product-bottom flex">
        <div class="stock-section">
            <span class="stock"><span class="stock-number">12</span> in stock</span>
        </div>
        <div class="prices-section">
            <span class="price">S/.78</span>
            <span class="price-before">S/.90</span>
        </div>
    </div>

</app-card>
