<app-card class="card">
    <app-card-header>
        <h2 class="card-component-title">{{this.product.name}}</h2>
        <h3 class="card-component-subtitle">{{this.product.cateogry}}</h3>
        <!-- <button class="button-dot"><i class='bx bx-dots-vertical-rounded'></i></button> -->
        <app-dropdown placeholder="placeholder" type="dot">
            <app-dropdown-option type="dot">weekly</app-dropdown-option>
            <app-dropdown-option type="dot">monthly</app-dropdown-option>
            <app-dropdown-option type="dot">yearly</app-dropdown-option>
        </app-dropdown>
    </app-card-header>

    <div class="product-image">
        <div class="discount">{{this.product.discountPercentage}}%</div>
        <img [src]="product.imageURL" [alt]="this.product.name">
    </div>

    <div class="colors-container flex">
        <div class="color flex" *ngFor="let color of this.product.colors" tabindex="0">
            <div class="color-circle" [ngStyle]="{'background-color': getColorHex(color), 
            'border-color': color === 'white' ? 'black' : getColorHex(color)}"></div>
            <span class="color-name">{{color}}</span>
        </div>
        <!-- <div class="color flex">
            <div class="color-circle"></div>
            <span class="color-name">Verde</span>
        </div>
        <div class="color flex">
            <div class="color-circle"></div>
            <span class="color-name">Naranja</span>
        </div> -->
    </div>

    <div class="product-bottom flex">
        <div class="stock-section">
            <span class="stock"><span class="stock-number">{{this.product.stock}}</span> in stock</span>
        </div>
        <div class="prices-section">
            <span class="price">S/. {{this.product.priceFinal}}</span>
            <span class="price-before">S/. {{this.product.price}}</span>
        </div>
    </div>

</app-card>
