.side-bar {
    background-color: var(--primary-light);
    border-radius: 8px;
    min-height: 100vh;
    transition: width 0.3s ease;
    width: 200px;
}
.logo {
    align-items: center;
    height: 70px;
    position: relative;
    width: 100%;
}
.btn-collapse {
    background-color: rgb(47, 18, 63);
    border-radius: 50%;
    content: '';
    height: 30px;
    position: absolute;
    width: 30px;
    right: -15px;
}
.btn-close-menu {
    background-color: var(--primary-light);
    color: black;
    display: none;
    font-size: 20px;
}
.icon-logo {
    margin-left: 26px;
    margin-right: 5px;
}
.icon-logo img{
    height: 30px;
    width: 30px;
}
.name-logo {
    font-size: 20px;
}
.item {
    padding: 0px 18px 0px 18px;
    width: 100%;
}
.item a{
    align-items: center;
    border-radius: 8px;
    color: var(--icon-color-light);
    font-size: 18px;
    gap: 16px;
    height: 50px;
    
    padding: 0px 14px 0px 14px;
    white-space: nowrap;
}
.item a span {
    line-height: 1;
}
.item .active {
    background-color: var(--secondary-light);
    color: var(--primary-light);
}
.item a i {
    margin-right: 20px;
    transition: margin-left 0.3s ease;
}
.item a:hover i {
    margin-left: 10px;
}
.collapsed {
    width: 82px;
}
.collapsed .icon-logo {
    margin-right: 0px;
}
.collapsed .item a i {
    margin-right: 0px;
}
.collapsed .name-item {
    display: none;
}
.collapsed .item a:hover i {
    margin-left: 6px;
}
@media screen and (max-width : 800px){
    /* :host {
        max-width: 82px;
    } */
    .side-bar {
        width: 82px;
    }
    .btn-collapse {
        display: none;
    }
    .item a i {
        margin-right: 0px;
    }
    .name-item {
        display: none;
    }
    .item a:hover i {
        margin-left: 6px;
    }
}
@media screen and (max-width : 450px){
    .side-bar {
        left: -200px;
        position: fixed;
        /* min-height: 100vh; */
        transition: width 0.0s ease;
        transition: left 0.3s ease;
        width: 200px;
        z-index: 10;
    }
    .menu-open {
        left: 0px;
    }
    .menu-open.back {
        background-color: rgba(0, 0, 0, 0.327);
        min-height: 100vh;
        position: fixed;
        width: 100vw;
        z-index: 3;
    }
    .menu-open .logo .btn-close-menu  {
        border-radius: 50%;
        border: none;
        display: inline;
        height: 40px;
        padding: 10px;
        position: absolute;
        right: -40px;
        width: 40px;
    }
    .item a i {
        margin-right: 20px;
    }
    .name-item {
        display: inline;
    }
    .item a:hover i {
        margin-left: 10px;
    }
}