.background {
    background-color: var(--background-light);
    column-gap: 30px;
}
.container {
    border: solid 1px green;
    flex-direction: column;
    min-height: 100vh;
    row-gap: 10px;
    width: 100%;
}
.router {   
    text-align: end;
}
@media screen and (max-width : 450px){
    .background {
        column-gap: 0px;
    }
    /* .hidden {
        top: 0px;
        left: -200px;
        max-width: 82px;
        transition: width 0.0s ease;
        transition: left 0.3s ease;
    }
    
    .expanded {
        left: 0px;
        transition: left 0.3s ease;
    } */
}