<section class="flex container-overview">
    <div class="left">
        <div class="metrics">
            <ng-container *ngFor="let metric of metricCards">
                <app-metric-card [metric]="metric" ></app-metric-card>
            </ng-container>
        </div>
        <div class="graphics">
            <app-card class="graphic-card">
               <app-card-header>
                    <h2 class="card-component-title">Revenues performance</h2>
                    <app-dropdown placeholder="placeholder" [(value)]="aux" class="select" >
                        <app-dropdown-option [value]=1>weekly</app-dropdown-option>
                        <app-dropdown-option [value]=2>monthly</app-dropdown-option>
                        <app-dropdown-option [value]=3>yearly</app-dropdown-option>
                    </app-dropdown>
                    <!-- <p class="card-component-subtitle">SubTitulo</p> -->
               </app-card-header>
               <div class="graphic">

               </div>
            </app-card>

            <app-card class="graphic-card">
                <app-card-header>
                     <h2 class="card-component-title">Titulo</h2>
                </app-card-header>
                <div class="graphic">

                </div>
            </app-card>
        </div>
        <app-card class="card-table">
            <app-card-header>
                <h2 class="card-component-title">Titulo</h2>
            </app-card-header>

            <div>
                <table class="table">
                    <thead>
                        <tr class="table-header">
                            <th>Product Name</th>
                            <th>Seller</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of [1,2,3,4,5]">
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>S/. 54</td>
                            <td>5</td>
                            <td>S/. 270</td>
                        </tr>
                    </tbody>
                </table>
           </div>
           
        </app-card>
    </div>
    
    <div class="right">
        <app-card class="top-seller-container">
            <app-card-header>
                <h2 class="card-component-title">Top Seller</h2>
            </app-card-header>
            <div class="top-seller">
                <div class="flex border-image">
                    <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/rockcms/2022-03/220317-Cynthia-Talla-ew-321p-4bc199.jpg" alt="top seller">
                </div>
                <p class="top-seller-name">Mary Smith</p>
                <div class="flex top-saller-info">
                    <div class="top-saller-data">
                        <p class="top-saller-category">Sales</p>
                        <p class="top-saller-amount">52</p>
                    </div>
                    
                    <span class="separator"></span>
                    
                    <div class="top-saller-data">
                        <p class="top-saller-category">Revenue</p>
                        <p class="top-saller-amount">{{'S/. ' + '985'}}</p>
                    </div>
                    
                </div>
                <button class="primary-button">View Details</button>
            </div>
        </app-card>
    </div>
</section>
